In [30]:

import pandas as ps
s = ps.Series()
print(s)

Series([], dtype: float64)

C:\Users\Diarrassouba\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [31]:
import numpy as np

tab =np.array(['p','y','t','h','o','n'])
s = ps.Series(tab)
print(s)

0    p
1    y
2    t
3    h
4    o
5    n
dtype: object

In [32]:
tab =np.array(['p','y','t','h','o','n'])
si = ps.Series(tab,index =[1,2,3,4,5,6])
print(si[2])
print(si[[2]])
print(si[[1,4,6]])

y
2    y
dtype: object
1    p
4    h
6    n
dtype: object

In [33]:
a = ps.Series(['p','y','t','h','o','n'],index =[1,2,3,4,5,6])
print(a)

1    p
2    y
3    t
4    h
5    o
6    n
dtype: object

In [35]:
dict ={"d":12,"a":47,"s":2,"mory":6}
serie = ps.Series(dict)
print(serie)

d       12
a       47
s        2
mory     6
dtype: int64

In [36]:
import pandas as ps
dictdf = {"ID":[1,2,3],
         "Nom":["diarrassouba","mory","abdel"],
          "Taille":[170,180,130]}
df = ps.DataFrame(dictdf)

print(df)

   ID           Nom  Taille
0   1  diarrassouba     170
1   2          mory     180
2   3         abdel     130

In [37]:
import pandas as ps
import numpy as np
tabn = np.array([[1,'mory',22,170],[2,'diarra',15,120],[3,'abdel',78,150]])
df = ps.DataFrame(tabn,columns =['ID','Nom','Age','Taille'])
print(df)

  ID     Nom Age Taille
0  1    mory  22    170
1  2  diarra  15    120
2  3   abdel  78    150

In [38]:
nom ="diarrassouba mory abdel aziz"
nom.title()

'Diarrassouba Mory Abdel Aziz'

In [39]:
nom.upper()

'DIARRASSOUBA MORY ABDEL AZIZ'

In [40]:
nom.count("d")

2

In [41]:
f"je suis {nom}"

'je suis diarrassouba mory abdel aziz'

In [42]:
nom.replace("mory","M")

'diarrassouba M abdel aziz'

In [43]:
def bonjour(n):
    affiche = f"Bonjour {n}"
    return affiche

In [44]:
bonjour(mory)

NameError: name 'mory' is not defined

In [45]:
def calcul(a,b):
    return (a+b,a-b)
calcul(40,10)

(50, 30)

In [46]:
def add():
    liste = [5,8,6]
    i = 0
    for a in liste:
        i+=a
    return i
add()

19

In [49]:
def multi():
    liste = [5,8,6]
    i = 1
    for a in liste:
        i*=a
    return i
multi()

240

In [1]:
nb = int(input("Entrer le nombre d'élement que vous voulez : "))
liste = []
def saisir(nb,liste):
    for i in range(nb):
        n = int(input('Entrer un nombre : '))
        liste.append(n)
    print("La liste est : ",liste)
    return saisir
saisir(nb,liste)
    
def max(liste):
    maxi =liste[0]
    for a in liste:
        if a>maxi:
            maxi=a
    print("Le maximum est : ",maxi)
    
max(liste)

Entrer le nombre d'élement que vous voulez : 5
Entrer un nombre : 74
Entrer un nombre : 56
Entrer un nombre : 80
Entrer un nombre : 5
Entrer un nombre : 9
La liste est :  [74, 56, 80, 5, 9]
Le maximum est :  80

In [35]:
fichier ='test.txt'
with open(fichier,'r') as f:
    lire =f.readlines()
print(lire)

['diarrassouba\n', 'mory\n', 'etudiant\n', 'licence\n', 'universitÃ©']

In [39]:
for index, line in enumerate(lire):
    lire[index] = line.replace('\n','')
print(lire)

['diarrassouba', 'mory', 'etudiant', 'licence', 'universitÃ©']

In [ ]:
nom = lire[0]
prenom = lire[1]
statut =lire[2]

In [37]:
afficher =f'Je suis {nom} {prenom} {statut}'
print(afficher)

Je suis diarrassouba mory etudiant

In [42]:
chemin = f'{nom}.txt'
with open(chemin,'w') as f:
    ecrit = f.write(afficher)
print(ecrit)

34

In [43]:
with open(chemin,'r') as f:
    aff = f.readline()
print(aff)

Je suis diarrassouba mory etudiant

In [81]:
import math
class point:
    def __init__(self, abs,ord):
        self.x = abs
        self.y = ord
        
    def distance(self, autre_point):
        dist = (autre_point.x - self.x)**2 + (autre_point.y - self.y)**2
        d = math.sqrt(dist)
        return d

In [90]:
A= point(4,5)
B= point(3,2)

In [6]:
A.x

4

In [7]:
B.y

2

In [92]:
A.distance(B)

3.1622776601683795

In [93]:
B.distance(A)

3.1622776601683795